body {
    background-color: rgb(100, 184, 212);
  }

img {

}

h1 {
    color: rgb(9, 5, 66)
}

h1 {
    color: rgb(168, 11, 11)
}

h1 {
    color: rgb(7, 121, 7)
}

h1 {
    color: rgb(156, 16, 156)
}